.input-container {
    outline: none;
    padding: 1rem 1.4rem;
    border: 1px solid black;
    width: 100%;
    margin-top: 3rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container>button {
    background: none;
    border: none;
    outline: none;
}

.input-container.full {
    margin: 0;
    grid-column: 1/3;
    margin-top: 3rem;
}

.input-container.disabled {
    opacity: 0.5;
}

.input-field {
    outline: none;
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
}

.input-field:not(:focus)::placeholder {
    color: transparent;
}

.input-field:disabled {
    background: none;
}

.input-label {
    position: absolute;
    left: 1.4rem;
    user-select: none;
    transition: all .2s ease;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
}

.input-field:focus+.input-label,
.input-field:not(:placeholder-shown)+.input-label {
    top: -1.6rem;
    left: 0;
}

.error {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--error);
    margin-bottom: 2rem;
}

.input-container svg {
    color: black;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
}