.order-form .checkout-form {
   flex: 4;
   padding: 0;
}

.order-form .input-container {
   margin-top: 2rem;
}

.order-form h2:not(:first-child) {
   margin-top: 2rem;
}

.checkout-form.shipping {
   margin-bottom: 2rem;
}

.select-container.order-status {
   margin-bottom: 4rem;
}

.select-container.order-status select {
   padding: 0 1rem;
}