.product-link-container {}

.product-link-container a {
    color: var(--black);
    text-decoration: none;
}

.product-link-container a:hover .info-name {
    text-decoration: underline;
}

.product-link-container img {
    width: 300px;
    height: auto;
}

.product-link-info {
    display: flex;
    flex-direction: column;
}

.product-link-name {
    font-size: 1.2rem;
    padding-bottom: .4rem;
    height: auto;
}

.product-link-description {
    height: 150px;
}

.info-name {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
    overflow: hidden;
    display: -webkit-box;
    /* display 2 lines only */
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.is-available {
    margin-bottom: 4rem;
}

.is-available>p {
    font-size: 1.6rem;
    font-weight: 600;
}

.item-available {
    color: var(--success);
}

.item-out-of-stock {
    color: var(--error);
}

.info-price {
    font-size: 2.4rem;
    font-weight: 600;
}

ul {
    list-style-position: inside;
}

li {
    list-style-image: url("../../assets/icons/arrow-right-solid.svg");
    padding: 0;
    height: auto;
    font-size: 1.6rem;
}

li::marker {
    font-size: 2.4rem;
}

/* ---------- Media querys ---------- */

/* Phone */

@media (max-width: 600px) {
    .product-link-container {
        padding: 1rem 0;
    }

    .product-link-container img {
        width: 100%;
        height: auto;
    }

    li {
        font-size: 1.4rem;
    }

    li::marker {
        font-size: 2rem;
    }
}