.product-link-container {}

.product-link-container a {
    color: var(--black);
    text-decoration: none;
}

.product-link-container a:hover .info-name {
    text-decoration: underline;
}

.product-link-container img {
    width: 300px;
    height: auto;
}

.product-link-info {
    display: flex;
    flex-direction: column;
}

.product-link-name {
    font-size: 1.2rem;
    padding-bottom: .4rem;
}

.info-name {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

li {
    list-style-image: url("../../assets/icons/arrow-right-solid.svg");
    padding-inline-start: .8ch;
}

li::marker {
    font-size: 2.4rem;
}

/* ---------- Media querys ---------- */

/* Phone */

@media (max-width: 600px) {
    .product-link-container {
        padding: 1rem 0;
    }
}