.navbar {
    padding: 1rem 4rem;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3000;
    background-color: var(--white);
}

.navbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.open-icon {
    margin-right: 2rem;
}

.navbar-left h1 {
    font-size: 2.6rem;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 1rem 2rem;
    border-radius: 1.4rem;
    user-select: none;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-right a {
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-right button {
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
}

.navbar-left a>img {
    width: 250px;
    margin-left: -1rem;
}

.navbar-content {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    top: 9rem;
    left: 0;
    z-index: 10001;
}

.navbar-content-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
    height: 90dvh;
    background-color: var(--white600);
    padding: 4rem 2rem;
    overflow: auto;
    gap: 1rem;
}

.navbar-content-text a {
    font-size: 1.8rem;
    color: var(--black);
    text-decoration: none;
    padding: 2rem;
    width: 100%;
}

.navbar-content-text a:hover {
    background: var(--bg900);
    border-radius: 1.2rem;
}

.navbar-user-data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-user-data p {
    font-size: 1.8rem;
    margin-right: 2rem;
}

.navbar-user-data button {
    font-size: 1.8rem;
    margin-right: 2rem;
    background: none;
    border: none;
    outline: none;
    text-decoration: underline;
}

/* ---------- Media querys ---------- */

/* Phone */

@media (max-width: 600px) {
    .navbar {
        padding: 2rem 1.5rem;
    }

    .open-icon {
        margin-right: 2rem;
    }

    .navbar-left h1 {
        font-size: 2rem;
    }

    .navbar-left a>img {
        width: 150px;
    }

    .navbar-content-text {
        width: 80%;
    }

    .navbar-content-text {
        overflow: scroll;
    }

    .navbar-right a {
        margin-right: 1rem;
    }

    .navbar-right button {
        margin-right: 1rem;
    }

    .navbar-user-data {
        flex-direction: column;
    }

    .cart-container {
        width: 90%;
    }
}