.image-zoom-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2002;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.image-zoom-modal-container {
    position: relative;
}

.image-zoom-close-overlay {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.image-zoom-close-overlay svg {
    color: var(--primary-color);
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.4);
    background: white;
    padding: .8rem;
    border-radius: 50%;
}

.product-page-container {}

.product-page-wrapper {
    padding: 4rem 20rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;
}

.product-page-image-container {}

.product-page-image-container img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 10;
}

.product-page-image-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.product-image.header {
    grid-column: 1 / 3;
}

.product-image {
    position: relative;
}

.product-image .image-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.2arem;
    transition: .4s all ease;
    z-index: 1001;
    aspect-ratio: 16 / 10;
}

.product-image .image-overlay:hover {
    opacity: 1;
}

.image-overlay svg {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: rgba(0, 0, 0, 0.4);
    background: white;
    padding: .8rem;
    border-radius: 50%;
}

.product-page-info-container {}

.product-page-info-container h1 {
    font-weight: 200;
    margin-bottom: 2rem;
}

.product-page-info-container p {
    margin: 1rem 0 2rem 0;
    opacity: 0.7;
}

.product-page-info-container .quantity {
    margin: 0;
}

.product-page-info-container span {
    font-weight: 100;
    font-size: 1.8rem;
}

.amount-container {
    display: flex;
    margin-top: 1rem;
    border: 1px solid black;
    align-items: center;
    padding: 0 1rem;
    width: 50%;
    justify-content: space-between;
}

.amount-container p {
    margin: 0;
}

.amount-container button {
    border: none;
    background: white;
    margin: 1rem;
}

.product-page-filters-container {
    width: 100%;
    margin: 3rem 0;
}

.product-page-filters-container span {
    font-size: 1.6rem;
    font-weight: 100;
}

.product-page-filters-container span>star {
    color: red;
}

.product-page-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-page-filter-color-btn {
    width: 100%;
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-page-filter-color-btn p {
    margin: 0;
}

.btn {
    text-decoration: none;
    color: var(--white);
    background-color: var(--black);
    padding: 1rem 2rem;
    margin: 2rem 0;
    width: 100%;
}

.btn.wishlist {
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.wishlist>svg {
    margin-right: 1rem;
    font-size: 2.4rem;
}

.product-page-filter-color-container {
    border: 1px solid black;
    width: 100%;
}

.product-page-filter-color-option {
    padding: 1rem;
}

.product-page-filter-color-option:hover {
    background: var(--gray);
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-buttons {
    display: flex;
    flex-direction: column;
}

/* ---------- Media querys ---------- */

/* Phone */

@media (max-width: 600px) {
    .image-zoom-modal-container {
        scale: 0.4;
    }

    .image-zoom-close-overlay {
        top: 4rem;
        right: 4rem;
    }

    .image-zoom-close-overlay svg {
        scale: 2;
    }

    .product-page-wrapper {
        padding: 2rem 1rem;
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .spinner-container {
        margin-top: 4rem;
    }
}