.user-password-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 4rem 15rem;
    gap: 4rem;
}

.user-password-content {}

.user-password-content h1 {
    margin-bottom: 4rem;
    font-size: 3.2rem;
}