.user-orders-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 4rem 15rem;
    gap: 4rem;
}

.user-orders-content {}

.user-orders-content h1 {
    margin-bottom: 4rem;
    font-size: 3.2rem;
}

.user-orders-container form .input-container {
    width: 50%;
}

.table {
    font-size: 1.8rem;
    border: 1.5px solid var(--bg1000);
    border-radius: .4rem;
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
    margin-top: 2rem;
}

.seperator {
    width: 1px;
    height: 20px;
    background: white;
    margin-right: 1rem;
}

.table-head {
    background: black;
}

.table-head tr>th:first-child {
    padding-left: 1rem;
}

.table-head tr>th {
    text-align: center;
    border-bottom: 1.5px solid var(--bg1000);
    padding: 1rem 1rem 1rem 0;
}

.table-head tr>th>a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.table-head tr>th>a>p {
    font-weight: bolder;
    margin-right: 1rem;
}

.table-content tr>td,
th {
    padding: 1rem 1rem 1rem 0;
}

.table-content tr td {
    padding-left: 1rem;
}

.table-content tr>td {
    font-size: 1.6rem;
    text-align: start;
}

.table-content tr>td>a {
    color: black;
    text-decoration: underline;
}

.table-content-row {
    box-sizing: border-box;
    border: 1.5px solid var(--bg1000);
}

.table-content-row:hover {
    background: var(--bg800);
}

.pagination-controls {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev-btn {
    padding: 1rem;
    border: none;
    outline: none;
    background: black;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: .4rem;
    font-size: 1.6rem;
}

.current-page {
    margin: 0 2rem;
    font-size: 2.2rem;
    font-weight: bold;
}

.next-btn {
    padding: 1rem;
    border: none;
    outline: none;
    background: black;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: .4rem;
    font-size: 1.6rem;
}

/* ---------- Media querys ---------- */

/* Phone */

@media (max-width: 600px) {
    .user-orders-content>.table {
        display: none;
    }

    .user-orders-container {
        display: grid;
        grid-template-columns: 1fr;
        padding: 4rem 1rem;
        gap: 2rem;
    }

    .user-orders-container .btn {
        width: 100%;
    }

    .user-orders-container form .input-container {
        width: 100%;
    }

    .user-orders-sort {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        padding: 1rem;
        background: #f5f5f5;
        margin-top: 2rem;
    }

    .user-orders-sort p {
        margin-right: 1rem;
    }

    .user-orders-sort .newest {
        width: 100%;
    }

    .user-orders-sort select {
        border: none;
        color: var(--primary-color);
        background: #f5f5f5;
        padding: 0;
    }

    .user-orders-sort select:focus {
        border: none;
        outline: none;
    }

    .order-cards-container {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .order-card {
        padding: 1.4rem 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, .22);
        border-radius: .6rem;
    }

    .order-card-amount {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: .8px solid var(--bg1000);
        padding: 0 1.4rem;
        padding-bottom: 2rem;
    }

    .order-card-content-row {
        padding: 1rem 1.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: .8px solid var(--bg1000);
    }

    .order-row-category {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .order-row-value {
        font-weight: 600;
        font-size: 1.6rem;
    }

    .order-card-footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .order-card-footer a {
        text-decoration: none;
        margin-top: 1.4rem;
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        width: calc(100% - 2.8rem);
        text-align: center;
        font-size: 1.6rem;
        font-weight: 600;
        border-radius: .6rem;
        padding: 1rem 0;
    }

}