.search-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.8);
    overflow: visible;
    overflow-y: scroll;
    z-index: 2000;
}

.search-bar-container {
    background: var(--white600);
    height: calc(20dvh - 4rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.search-bar-container .input-group {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #ffffff;
    width: 100%;
    margin-right: 2rem;
}

.search-bar-container .input-group svg {
    margin-right: 2rem;
}

.search-bar-container .input-group input {
    border: none;
    outline: none;
    width: 100%;
}

.search-bar-container button {
    border: none;
    outline: none;
}

.found-items {
    height: 100%;
    width: 100%;
    background: var(--white);
}

.found-items-products-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 2rem;
    margin-bottom: 2rem;
}

.found-items-products-card a {
    color: black;
}

.found-items-container {
    display: grid;
    padding: 2rem;
    gap: 2rem;
    grid-template-columns: repeat(6, 1fr);
    background: var(--white);
}

.found-items-item {
    width: 100%;
    padding: 2rem;
    background: #ffffff;
}

.found-items-item:hover {
    cursor: pointer;
}

.found-items-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 3rem;
}

.found-items-item h2 {
    font-size: 1.6rem;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 2rem;
    overflow: hidden;
    display: -webkit-box;
    /* display 2 lines only */
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.found-items-item p {
    text-align: center;
    font-weight: bold;
}

.search-not-found {
    padding: 0 2rem;
}

/* ---------- Media querys ---------- */

/* Phone */

@media (max-width: 600px) {
    .found-items-container {
        grid-template-columns: 1fr;
    }

    .found-items-item img {
        height: 250px
    }

}