@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
    --primary-color: #E81123;
    --secondary-color: #00A651;
    --white: #f8f8f5;
    --white600: #F5F5F5;
    --gray: #E0E0E0;
    --black: #000000;
    --padding: 26rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

input,
button {
    -webkit-appearance: none;
}

html,
body {
    font-size: 10px;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.2rem;
}


p {
    font-family: 'Mulish', sans-serif;
    font-size: 1.6rem;
}

.error {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    color: #ff3333;
}

.success {
    color: #4BB543
}