@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
    --primary-color: #E81123;
    --secondary-color: #00A651;
    --white: #f8f8f5;
    --white600: #F5F5F5;
    --gray: #E0E0E0;
    --black: #000000;
    --padding: 26rem;
    --success: #4BB543;
    --error: #ff3333;

    --primary100: #fde7e9;
    --primary200: #f8b8bd;
    --primary300: #f48891;
    --primary400: #ef5865;
    --primary500: #E81123;
    --primary600: #d10f20;
    --primary700: #8b0a15;

    --secondary400: #8DCEFC;
    --secondary500: #0095FF;
    --secondary600: #0069B4;

    --bg500: #ffffff;
    --bg600: #fafafa;
    --bg700: #f6f6f6;
    --bg800: #ececec;
    --bg900: #e1e1e1;
    --bg1000: #d0d0d0;
    --box-shadow: 0 0 10px rgba(0, 0, 0, .09);
    --error: #ff3333;
    --error-bg: #f2dedd;
    --error-text: #a94442;
    --sucess-bg: #d4edda;
    --sucess-text: #155724;
    --sucess: #4BB543;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

input,
button {
    /* -webkit-appearance: none; */
}

html,
body {
    font-size: 10px;
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.2rem;
}


p {
    font-family: 'Mulish', sans-serif;
    font-size: 1.6rem;
}

.success {
    color: #4BB543
}