.user-list {
  flex: 4;
  padding: 2rem;
}

.admin-user {
  background-color: var(--error-bg);
  border-radius: .4rem;
  padding: 1rem;
  text-align: center;
  color: var(--error-text);
}

.librarian-user {
  background-color: var(--secondary400);
  border-radius: .4rem;
  padding: 1rem;
  text-align: center;
  color: var(--secondary600);
}

.member-user {
  background-color: var(--bg800);
  border-radius: .4rem;
  padding: 1rem;
  text-align: center;
  color: black;
}

.enabled-user>div {
  background-color: var(--sucess-bg);
  border-radius: .4rem;
  padding: 1rem;
  text-align: center;
  color: var(--sucess-text);
}

.disabled-user>div {
  background-color: var(--error-bg);
  border-radius: .4rem;
  padding: 1rem;
  text-align: center;
  color: var(--error-text);
}